<form
  [formGroup]="registerForm"
  class="d-flex flex-column gap-3 mx-auto p-4 rounded-3"
  (ngSubmit)="onSubmit()"
  style="max-width: 800px; background-color: #f0f0f0"
>
  <!-- Form Title -->
  <h1 class="fw-bold mb-2">Create Account</h1>

  <div formGroupName="nameDetails" class="row g-2">
    <!-- First Name Field -->
    <div class="col-12 col-sm-4">
      <label class="input-label-required fw-bold">First Name</label>
      <div class="input-group">
        <span class="input-group-text bg-light"
          ><lucide-icon name="a-large-small" size="18"></lucide-icon
        ></span>
        <input
          type="text"
          class="form-control"
          placeholder="First Name"
          formControlName="firstName"
        />
      </div>
      @if (
        registerForm.get('nameDetails.firstName')?.invalid &&
        registerForm.get('nameDetails.firstName')?.touched
      ) {
        <small class="text-danger d-block">Required</small>
      }
    </div>

    <!-- Maiden Name Field -->
    <div class="col-12 col-sm-4">
      <label class="fw-bold">Maiden Name</label>
      <div class="input-group">
        <span class="input-group-text bg-light"
          ><lucide-icon name="a-large-small" size="18"></lucide-icon
        ></span>
        <input
          type="text"
          class="form-control"
          placeholder="Maiden Name"
          formControlName="maidenName"
        />
      </div>
    </div>

    <!-- Last Name Field -->
    <div class="col-12 col-sm-4">
      <label class="fw-bold">Last Name</label>
      <div class="input-group">
        <span class="input-group-text bg-light"
          ><lucide-icon name="a-large-small" size="18"></lucide-icon
        ></span>
        <input
          type="text"
          class="form-control"
          placeholder="Last Name"
          formControlName="lastName"
        />
      </div>
    </div>
  </div>

  <div class="row g-2">
    <!-- Age Field -->
    <div class="col-12 col-sm-6">
      <label class="input-label-required fw-bold">Age</label>
      <div class="input-group">
        <span class="input-group-text bg-light"
          ><lucide-icon name="hash" size="18"></lucide-icon
        ></span>
        <input type="number" class="form-control" placeholder="Age" formControlName="age" />
      </div>

      <!-- Message Error -->
      @if (
        registerForm.get('age')?.invalid &&
        (registerForm.get('age')?.dirty || registerForm.get('age')?.touched)
      ) {
        <small class="text-danger ms-5">Age is required.</small>
      }
    </div>

    <!-- Gender Field -->
    <div class="col-12 col-sm-6">
      <label class="input-label-required fw-bold">Gender</label>
      <div class="input-group">
        <span class="input-group-text bg-light"
          ><lucide-icon name="venus-and-mars" size="18"></lucide-icon
        ></span>
        <select formControlName="gender" class="form-select">
          <option value="" disabled selected>Select Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>

      <!-- Message Error -->
      @if (
        registerForm.get('gender')?.invalid &&
        (registerForm.get('gender')?.dirty || registerForm.get('gender')?.touched)
      ) {
        <small class="text-danger ms-5">Gender is required.</small>
      }
    </div>
  </div>

  <!-- Email Field -->
  <div class="w-100">
    <label class="input-label-required fw-bold">Email</label>
    <div class="input-group">
      <span class="input-group-text bg-light"
        ><lucide-icon name="at-sign" size="18"></lucide-icon
      ></span>
      <input type="text" class="form-control" placeholder="Email" formControlName="email" />
    </div>

    <!-- Message Error -->
    @if (
      registerForm.get('email')?.invalid &&
      (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)
    ) {
      <small class="text-danger ms-5">Email is required.</small>
    }
  </div>

  <!-- UserName Field -->
  <div class="w-100">
    <label class="input-label-required fw-bold">Username</label>
    <div class="input-group">
      <span class="input-group-text bg-light"
        ><lucide-icon name="at-sign" size="18"></lucide-icon
      ></span>
      <input type="text" class="form-control" placeholder="Username" formControlName="username" />
    </div>

    <!-- Message Error -->
    @if (
      registerForm.get('username')?.invalid &&
      (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)
    ) {
      <small class="text-danger ms-5">Username is required.</small>
    }
  </div>

  <div class="row g-2">
    <!-- Password Field -->
    <div class="col-12 col-sm-6">
      <label class="input-label-required fw-bold">Password</label>

      <div class="position-relative">
        <input
          [type]="showPassword() ? 'text' : 'password'"
          class="form-control pe-5"
          placeholder="Password"
          formControlName="password"
        />
        <span
          class="position-absolute top-50 end-0 translate-middle-y me-3 cursor-pointer"
          (click)="showPassword.set(!showPassword())"
        >
          <lucide-icon [name]="showPassword() ? 'eye' : 'eye-off'" size="18"></lucide-icon>
        </span>
      </div>
    </div>

    <!-- Confirm Password Field -->
    <div class="col-12 col-sm-6">
      <label class="input-label-required fw-bold">Confirm Password</label>

      <div class="position-relative">
        <input
          [type]="showPassword() ? 'text' : 'password'"
          class="form-control pe-5"
          placeholder="Confirm"
          formControlName="confirmPassword"
        />
      </div>
    </div>
  </div>
  <!-- Error Message -->
  @if (registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched) {
    <small class="text-danger">Passwords do not match!</small>
  }

  <!-- Login Paragraph -->
  <p class="my-4 text-center">
    Already have an account?
    <a routerLink="/auth/login" class="text-success fw-bold text-decoration-none">Login</a>
  </p>

  <!-- Server Error -->
  @if (apiError()) {
    <div class="alert alert-danger py-2 text-center">{{ apiError() }}</div>
  }

  <!-- Submit Button -->
  <button
    class="btn btn-success w-100 py-2 fw-bold"
    [disabled]="registerForm.invalid || isLoading()"
  >
    @if (isLoading()) {
      <span class="spinner-border spinner-border-sm me-2"></span> Registering...
    } @else {
      Register
    }
  </button>
</form>
