<header class="bg-white shadow-sm p-3 mb-4">
  <div class="d-flex justify-content-between aligh-item-center">
    <h1>Products</h1>
    <button class="btn btn-md btn-dark" (click)="openAdd.set(true)">
      <lucide-icon name="plus" /> Add Product
    </button>
  </div>
  <p class="text-gray">Manage your product inventory and pricing</p>
</header>

<!-- Cards -->
<div class="d-flex justify-content-center aligh-item-center gap-4">
  @for (card of productStats(); track $index) {
    <div
      class="d-flex flex-column justify-content-center aligh-item-center gap-4 bg-white shadow-sm p-3 rounded-4 border m-4"
      style="width: 200px"
    >
      <p class="mb-4">{{ card.title }}</p>

      <h2>{{ card.count }}</h2>
    </div>
  }
</div>

<div
  class="d-flex justify-content-center aligh-item-center gap-4 bg-white shadow-sm p-3 rounded-4 border m-4"
>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (product of products(); track product.id) {
        <tr class="">
          <th scope="row">{{ product.title }}</th>
          <td>{{ product.category }}</td>
          <td>$ {{ product.price }}</td>
          <td>{{ product.stock }}</td>
          <td class="position-relative">
            <div
              class="p-2 bg-light rounded-circle cursor-pointer text-center"
              style="width: 35px; height: 35px"
              (click)="toggleMenu(product.id, $event)"
            >
              <lucide-icon name="ellipsis" size="18" />
            </div>

            @if (activeMenuId() === product.id) {
              <div
                class="action-menu shadow-lg border rounded-3 bg-white p-2 animate__animated animate__fadeIn"
              >
                <button
                  class="btn btn-sm btn-light w-100 text-start d-flex align-items-center gap-2 mb-1"
                  (click)="onUpdate(product.id)"
                >
                  <lucide-icon name="pencil" size="14" class="text-primary" />
                  Update
                </button>
                <button
                  class="btn btn-sm btn-light w-100 text-start d-flex align-items-center gap-2 text-danger"
                  (click)="onDelete(product.id)"
                >
                  <lucide-icon name="trash-2" size="14" />
                  Delete
                </button>
              </div>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

@if (openUpdate()) {
  <app-modal modalType="update" [id]="productId()" />
}
@if (openDelete()) {
  <app-modal modalType="delete" [id]="productId()" />
}
@if (openAdd()) {
  <app-modal modalType="add" [id]="productId()" />
}
