<header class="bg-white shadow-sm p-3 mb-4">
  <div class="d-flex justify-content-between aligh-item-center">
    <h1>Products</h1>
    <button class="btn btn-md btn-dark" (click)="onAdd.set(!onAdd())">
      <lucide-icon name="plus" /> Add Product
    </button>
  </div>
  <p class="text-gray">Manage your product inventory and pricing</p>
</header>

<!-- Cards -->
<div class="d-flex justify-content-center aligh-item-center gap-4">
  <div
    class="d-flex flex-column justify-content-center aligh-item-center gap-4 bg-white shadow-sm p-3 rounded-4 border m-4"
    style="width: 200px"
  >
    <p class="mb-4 fs-4 fw-bold">Total Products</p>

    <h2 class="text-center">{{ pagination()?.totalItems }}</h2>
  </div>
</div>

<div
  class="d-flex flex-column justify-content-center aligh-item-center gap-4 bg-white shadow-sm p-3 rounded-4 border m-4 overflow-scroll"
>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (product of products(); track product._id) {
        <tr class="">
          <th scope="row">{{ product.name }}</th>
          <td>{{ product.category }}</td>
          <td>$ {{ product.price }}</td>
          <td>{{ product.stock }}</td>
          <td class="position-relative">
            <div
              class="p-2 bg-light rounded-circle cursor-pointer text-center"
              style="width: 35px; height: 35px"
              (click)="toggleMenu(product._id, $event)"
            >
              <lucide-icon name="ellipsis" size="18" />
            </div>

            @if (activeMenuId() === product._id) {
              <div
                class="action-menu position-absolute shadow-lg border rounded-3 bg-white p-2 animate__animated animate__fadeIn"
                style="z-index: 600 !important"
              >
                <button
                  class="btn btn-sm btn-light w-100 text-start d-flex align-items-center gap-2 mb-1"
                  (click)="onUpdate.set(true)"
                >
                  <lucide-icon name="pencil" size="14" class="text-primary" />
                  Update
                </button>
                <button
                  class="btn btn-sm btn-light w-100 text-start d-flex align-items-center gap-2 text-danger"
                  (click)="onDelete.set(true)"
                >
                  <lucide-icon name="trash-2" size="14" />
                  Delete
                </button>
              </div>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

@if (onUpdate()) {
  <app-modal
    modalType="update"
    [id]="productId()"
    page="dashboard/product"
    (onConfirm)="triggerRefresh()"
  />
}
@if (onDelete()) {
  <app-modal
    modalType="delete"
    [id]="productId()"
    page="dashboard/product"
    (onDelete)="triggerRefresh()"
  />
}
@if (onAdd()) {
  <app-modal
    modalType="add"
    [id]="productId()"
    page="dashboard/product"
    (onConfirm)="triggerRefresh()"
  />
}
