<section
  class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4 justify-content-center bg-light gap-3"
>
  @if (isLoading()) {
    <div>
      <app-skeleton width="100" type="square" />
      <app-skeleton width="300" type="square" />
      <app-skeleton width="300" type="square" />
      <app-skeleton width="300" type="square" />
      <p>loading ...</p>
    </div>
  } @else {
    @for (product of products(); track product.id) {
      <div class="card card-shadow d-flex">
        <!-- Image -->
        <img [src]="product.images[0]" class="card-img-top" [alt]="product.title" />

        <div class="card-body">
          <!-- Title -->
          <h2 class="card-title">{{ product.title }}</h2>

          <!-- Description -->
          <div class="py-2">
            <h3 style="color: gray">Description</h3>
            <p class="card-text">
              {{ product.description }}
            </p>
          </div>

          <!-- Price -->
          <div class="d-flex justify-content-center align-items-center gap-3">
            <h3>Price:</h3>
            <h3>$ {{ product.price }}</h3>
          </div>
        </div>

        <!-- Action Buttons -->
        <div class="d-flex justify-content-center align-items-center gap-4 py-4 text-white">
          <div
            class="d-flex justify-content-center align-items-center rounded-pill bg-primary cursor-pointer p-2"
            (click)="productDetails(product.id)"
          >
            <lucide-icon name="eye" class="bg-primary" />
          </div>
          <div
            class="d-flex justify-content-center align-items-center rounded-pill bg-success cursor-pointer p-2"
            (click)="
              authService.isAuthenticated() ? addToUserCart(product.id) : addToGustCart(product.id)
            "
          >
            <lucide-icon name="shopping-cart" size="20" />
          </div>
        </div>
      </div>
    }
  }

  <!-- Pagination -->
  <nav>
    <ul class="pagination gap-2 align-items-center">
      <li class="page-item cursor-pointer" [class.disabled]="currentPage() === 1">
        <a class="page-link" (click)="changePage(currentPage() - 1)">
          <lucide-icon name="chevrons-left" size="16" />
        </a>
      </li>

      @for (page of visiblePages(); track page) {
        <li class="page-item cursor-pointer" [class.active]="currentPage() === page">
          <a class="page-link" (click)="changePage(page)">{{ page }}</a>
        </li>
      }

      <li class="page-item cursor-pointer" [class.disabled]="currentPage() === totalPages()">
        <a class="page-link" (click)="changePage(currentPage() + 1)">
          <lucide-icon name="chevrons-right" size="16" />
        </a>
      </li>
    </ul>
  </nav>
</section>
