<form [formGroup]="confirmForm">
  <!-- Name Field -->
  <div class="mb-3">
    <label class="form-label text-secondary small">Product Name</label>
    <input type="text" class="form-control" formControlName="name" />
  </div>
  @if (
    confirmForm.get('name')?.invalid &&
    (confirmForm.get('name')?.dirty || confirmForm.get('name')?.touched)
  ) {
    <small class="text-danger ms-5 text-capitalize">product name is required.</small>
  }

  <!-- Description Field -->
  <div class="mb-3">
    <label class="form-label text-secondary small">Product Description</label>
    <textarea class="form-control" formControlName="description" style="height: 6rem"></textarea>
  </div>
  @if (
    confirmForm.get('description')?.invalid &&
    (confirmForm.get('description')?.dirty || confirmForm.get('description')?.touched)
  ) {
    <small class="text-danger ms-5 text-capitalize">product description is required.</small>
  }

  <!-- Category Field -->
  <div class="mb-3">
    <label class="form-label text-secondary small">Product Category</label>
    <select class="form-control" formControlName="category">
      <option value="" [disabled]="true">choice a category</option>
      @for (category of categories(); track category._id) {
        <option [value]="category.name">{{ category.name }}</option>
      }
    </select>
  </div>
  @if (
    confirmForm.get('category')?.invalid &&
    (confirmForm.get('category')?.dirty || confirmForm.get('category')?.touched)
  ) {
    <small class="text-danger ms-5 text-capitalize">product category is required.</small>
  }

  <!-- Stock Field -->
  <div class="mb-3">
    <label class="form-label text-secondary small">Stock </label>
    <input type="number" class="form-control" formControlName="stock" />
  </div>

  @if (
    confirmForm.get('stock')?.invalid &&
    (confirmForm.get('stock')?.dirty || confirmForm.get('stock')?.touched)
  ) {
    <small class="text-danger ms-5 text-capitalize">product stock is required.</small>
  }

  <!-- Price Field -->
  <div class="mb-3">
    <label class="form-label text-secondary small">Price ($)</label>
    <input type="number" class="form-control" formControlName="price" />
  </div>

  @if (
    confirmForm.get('price')?.invalid &&
    (confirmForm.get('price')?.dirty || confirmForm.get('price')?.touched)
  ) {
    <small class="text-danger ms-5 text-capitalize">product price is required.</small>
  }
  <button class="btn btn-light rounded-3" (click)="closeModal()">Cancel</button>

  <button class="btn rounded-3" [class]="modalState() === 'delete' ? 'btn-danger' : 'btn-dark'">
    {{
      modalState() === 'delete'
        ? 'Confirm Delete'
        : modalState() === 'update'
          ? 'Save Changes'
          : 'Add'
    }}
  </button>
</form>
<!-- Error API -->
@if (errorApi()) {
  <div class="alert alert-danger py-2 text-center">{{ errorApi() }}</div>
}
